@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

/* font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
  align-items: center;
}

.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title{
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
}

.pnf-btn:hover{
  color: white;
  background: black;

}

.footer {
  color: white;
  padding: 25px;
  background: #000000;
  background: -webkit-linear-gradient(to right,
      #434343,
      #000000);
  background: linear-gradient(to right,#7f7e7e,#000000);
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
  margin-bottom: 0;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

.contactus{
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 30px;
  overflow-x: hidden;
}

.aboutus{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  overflow-x: hidden;
}

.register{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 10px;
}